.main-header{
  background-color: #fff;
  display: flex;
  height: 10vh;
  width: 100vw;
}
.logo{
  height: 10vh;
  min-width: 10vw;
  display: flex;
  padding-left: 1em;
  justify-content: start;
  align-items:center;
}
.logo img{
  height: 75%;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav nav{
  display: flex;
  justify-content: space-around;
  min-width: 40vw;
}
.btn-nav{
  min-height: 10vh;
  display: flex;
  align-items: center;
}
.btn-nav a{
  text-decoration: none;
  color: black;
  min-height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.routeActive{
  background-color: #8cc1de;
  border-radius: 25px;
}
.search{
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.notify-btns{
  min-width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em;
}
.btn-notiify{
  background-color: #c4c4c4;
  color: black;
}
.user{
  min-width: 20vw;
  display: flex;
  padding-left: 1em;
  align-items: center;
}
.user-data{
  height: 80%;
  background-color: #c4c4c4;
  border-radius: 33px;
  display: flex;
  width: 95%;
}
.user-data img{
  width: 25%;
  border-radius: 50%;
  background-color: #fff;
}
.user-info{
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}
.user-info p{
  margin: 0;
}
.menu-user{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-expand{
  background-color: #c4c4c4;
  color: #000;
  font-size: 1.5em;
  font-weight: 900;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(190, 186, 186, 0.581);
  border-radius: 5px;
}

