<main class="main-container">
  <section class="main-section">
    <article class="bg-img">
      <div class="img">
        <img
          src="https://img.freepik.com/foto-gratis/mano-femenina-escribiendo-teclado-portatil_1150-15742.jpg"
          alt=""
        />
      </div>
      <a href="https://www.freepik.es/fotos/manos-teclado"
        >Foto de manos teclado creado por jcomp - www.freepik.es</a
      >
    </article>
    <article class="form-card">
  <!--  <div class="scheduale">
        <h3>Resumen Horario</h3>
        <table class="table">
          <tr class="table-header">
            <th class="th-day">Dia</th>
            <th class="th-hour">Hora</th>
            <th class="th-obs">Observaciones</th>
          </tr>
          <tr class="table-data">
            <td class="td">lorem impsum</td>
            <td class="td">lorem impsum</td>
            <td class="td">lorem impsum</td>
          </tr>
        </table>
      </div>-->  
      <div class="check-in">
        <h2>Registro Ingreso</h2>
        <form class="mt-4" [formGroup]="createIngreso" (ngSubmit)="agregarIngreso()">
          <div class="row">
            <label for="cedula" class="form-label">Cédula: </label>
            <input type="text" class="form-control" 
            formControlName="cedula" placeholder="Ingrese su cédula">
        </div>
          <div class="form-line">
            <label for="date" class="form-label">Fecha Ingreso:</label>
            <div class="form-input">
              <input type="date" name="date" class="" formControlName="fecha"/>
            </div>
          </div>
          <div class="form-line">
            <label for="time" class="form-label">Hora Ingreso:</label>
            <div class="form-input">
              <input type="time" name="date" class="" formControlName="hora" />
            </div>
          </div>
          <div class="form-btns">
            <button type="submit" class="btn btn-dark btn-lg ">Registrar</button>
          </div>
        </form>
      </div>
    </article>
  </section>
</main>
