<main class="main-container">
  <section class="main-section">
    <article class="bg-img">
      <div class="img">
        <img
          src="https://img.freepik.com/foto-gratis/mano-femenina-escribiendo-teclado-portatil_1150-15742.jpg"
          alt=""
        />
      </div>
      <a href="https://www.freepik.es/fotos/manos-teclado"
        >Foto de manos teclado creado por jcomp - www.freepik.es</a
      >
    </article>
    <article class="form-card">
      <div class="check-out">
        <h2>Registro Salida</h2>
        <form class="mt-4" [formGroup]="createSalida" (ngSubmit)="agregarSalida()">
          <div class="row">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" class="form-control" 
            formControlName="cedula" placeholder="Ingrese su cédula">
        </div>
          <div class="form-line">
            <label for="date" class="form-label">Fecha Salida:</label>
            <div class="form-input">
              <input type="date" name="date" class="" formControlName="fecha"/>
            </div>
          </div>
          <br>
          <div class="form-line">
            <label for="time" class="form-label">Hora Salida:</label>
            <div class="form-input">
              <input type="time" name="date" class="" formControlName="hora" />
            </div>
          </div>
          <br>
          <div class="form-btns">
            <button type="submit" class="btn btn-dark btn-lg ">Registrar</button>
          </div>
        </form>
      </div>
    </article>
  </section>
</main>
