<main class="main-container">
  <section class="main-section">
    <article class="bg-img">
      <div class="img">
        <img
          src="https://img.freepik.com/foto-gratis/mano-femenina-escribiendo-teclado-portatil_1150-15742.jpg"
          alt=""
        />
      </div>
      <a href="https://www.freepik.es/fotos/manos-teclado"
        >Foto de manos teclado creado por jcomp - www.freepik.es</a
      >
    </article>
    <article class="form-card">
      <div class="check-out">
        <h2>Registro Ingreso/Salida</h2>
        <form action="" class="form">
          <div class="form-line">
            <label for="date" class="form-label">Fecha Ingreso/Salida:</label>
            <div class="form-input">
              <input type="date" name="date" class="" />
            </div>
          </div>
          <div class="form-line">
            <label for="time" class="form-label">Hora Salida:</label>
            <div class="form-input">
              <input type="time" name="date" class="" />
            </div>
          </div>
          <div class="form-btns">
            <button mat-raised-button>Registrar</button>
          </div>
        </form>
      </div>
    </article>
  </section>
</main>
