<main class="main-container">
  <section class="main-section">
    <h2 class="title">
      Registro de Horario
    </h2>
    <div class="form-card">
      <form action="">
        <div class="input-section">
          <div class="input-line">
            <label for="date">Dia:</label>
            <input type="date" name="date" id="date">
          </div>
          <div class="input-line">
            <label for="in">Hora de entrada:</label>
            <input type="time" name="in" id="in">
          </div>
          <div class="input-line">
            <label for="out">Hora de salida:</label>
            <input type="time" name="out" id="out">
          </div>
        </div>

        <div class="btns-form">
          <button type="button" class="btn btn-1" mat-raised-button>Añadir</button>
          <button type="button" class="btn btn-2" mat-raised-button>Registrar</button>
        </div>
      </form>
    </div>
    <h3>Resumen de horario</h3>
    <table class="table">
      <tr class="table-header">
        <th class="th-day">Dia</th>
        <th class="th-hour">Hora</th>
        <th class="th-obs">Observaciones</th>
      </tr>
      <tr class="table-data">
        <td class="td">lorem impsum</td>
        <td class="td">lorem impsum</td>
        <td class="td">lorem impsum</td>
      </tr>
    </table>
  </section>
</main>
