<main class="main-container">
  <section class="img-spot">
    <img src="https://educationusa.state.gov/sites/default/files/wysiwyg/istock_000031084672_double.jpg" alt="">
  </section>
  <section class="main-section">
    <div class="up">
      <button class="btn-scheduale">
        <mat-icon class="mat-18">schedule</mat-icon>
        <p>Registro de Horaio</p>
      </button>
    </div>
    <div class="down">
      <button class="btn-checkIn">
        <mat-icon class="mat-18">edit</mat-icon>
        <p>Registro de Ingreso/Salida</p>
      </button>
    </div>
  </section>
</main>
